* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --error-color: #dc3545;
    --success-color: #28a745;
    --warning-color: #ffc107;
}
body {
    background-color: hsl(235, 18%, 26%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
.container {
    background-color: white;
    border-radius: 22px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em;
    width: 600px;
    margin: 100px auto;
}
.heading {
    display: grid;
    padding: 20px;
    margin: -10px;
}
.heading h1 {
    font-weight: 700;
    margin-top: 20px;
    color: hsl(234, 29%, 20%);
}
.mailbox label {
    color: hsl(234, 29%, 20%);
    font-size: 11px;
    font-weight: 600;
    margin-bottom: 6px;
}
.mailbox input {
    border: solid 2px #f0f0f0;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 14px;
    display: block;
    opacity: 0.5;
    width: 100%;
}
.mailbox small {
    color: var(--error-color);
}
.mailbox.error input {
    color: #dc3545;
    background-color: #ffc8ce;
    border-color: var(--error-color);
}
.mailbox.success input {
    border-color: var(--success-color);
}
.mailbox input:focus {
    outline: none;
}
.mailbox input:hover {
    cursor: pointer;
    border: solid 1px black;
}
.list {
    display: grid;
    padding: 20px;
}
.list1 {
    color: hsl(235, 18%, 26%);
    display: flex;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: -7px;
    width: 100%;
}
.text {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
}
.mailbox {
    display: grid;
    padding: 30px;
    margin-bottom: 5px;
}
.orange-box {
    float: right;
    padding: 1em;
    width: 240px;
    height: 394px;
}
.p {
    color: hsl(234, 29%, 20%);
    line-height: 16px;
    font-size: 13px;
}
.btn {
    border: none;
    border-radius: 6px;
    background-color:hsl(235, 18%, 26%); ;
    color: white;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 3px;
    width: 100%;
    height: 40px;
}
.btn:hover {
    background:linear-gradient(0deg, 
    hsl(4, 100%, 67%),
    hsl(332, 100%, 67%)
    );
    cursor: pointer;
}
.svg {
    height: 120%;
    width: 109%;
    margin: -15px auto;
}